* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  border: 0.5px solid rgb(63, 62, 63);

  box-shadow: 2px 4px rgba(35, 20, 170, 0.08);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.task-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.task-form input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
}

.task-form button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: black;
  color: white;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: white;

  padding: 15px;
  margin-bottom: 10px;

  border-radius: 6px;
}

.task-content {
  display: flex;
  gap: 10px;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  color: rgb(122, 111, 111);
}

.delete-btn {
  background: red;
  color: white;

  border: none;

  border-radius: 8px;

  padding: 8px 14px;

  cursor: pointer;
}

.empty {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .task-form {
    flex-direction: column;
  }

  .task-item {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }

  .delete-btn {
    width: 100%;
  }
}
.edit-btn {
  margin-right: 10px;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 8px;
}
.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filters button {
  padding: 10px 16px;
  border: none;
  cursor: pointer;
}

.filters .active {
  background: black;
  color: white;
}

@media (max-width: 600px) {
  .filters {
    flex-wrap: wrap;
  }
}
.stats {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.stat-card {
  flex: 1;
  background: rgb(217, 226, 225);
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.stat-card h3 {
  margin-bottom: 10px;
  color: black;
}

.stat-card p {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

@media (max-width: 600px) {
  .stats {
    flex-direction: column;
  }
}
.search-container {
  margin-bottom: 20px;
  border-radius: 8px;
}

.search-container input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
